body{
    background-image: url("/Frontend/img/Rec.png") ;
    background-color: #cccccc;
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar{
    height: 80px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 20px;
    margin-top: 100px;
    background-color: #2D6EBE;
    
}

.collapse{
    margin-left: 50px;
}
.nav-item{
    
    padding: 10px 20px;
    font-size: 30px;
    margin-left: 300px;
}
.img1{
    margin-left: 90px;
}

.img2{
    margin-left: 19cm;
}
#btn1{
    margin-top: 30px;
    width: 50px;
    height: 50px;
    border-radius: 120px;
}
#viewbtn{
    margin-top: 30px;
}
#row1{
    margin-top: 30px;
}
#row2{
    margin-top: 3.5cm;
}
#bt1{
    width: 8cm;
    border-radius: 20px;
}
#bt2{
    width: 8cm;
    border-radius: 20px;
}
